body {
  margin: 0;
  font-family: Arial, sans-serif;
}

.light {
  height: 100vh;
  background-color: white;
  color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.dark {
  height: 100vh;
  background-color: #121212;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

button {
  padding: 10px 15px;
  margin-top: 20px;
  cursor: pointer;
}
